<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Authorization table</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h3>Authorization table</h3>
<hr>
<table border = "2px solid" style = "border-collapse: collapse; border: 1px solid black;">
    <tr>
        <th>id</th>
        <th>Username</th>
        <th>E-Mail</th>
        <th>Password</th>
        <th>Role</th>
        <th>Forgot password key</th>
        <th>Forgot password timestamp</th>
        <th>Company unit id</th>
    </tr>
    <tr th:each="el : ${authorizationTables}">
        <td th:text="${el.id}"></td>
        <td th:text="${el.username}"></td>
        <td th:text="${el.email}"></td>
        <td th:text="${el.password}"></td>
        <td th:text="${el.role}"></td>
        <td th:text="${el.forgot_password_key}"></td>
        <td th:text="${el.forgot_password_timestamp}"></td>
        <td th:text="${el.company_unit_id}"></td>
    </tr>
    </table>
</body>
</html>